<!Doctype HTML>
%meta{:charset => "utf-8"}
  %html
    %title La cuisine
    %link{:href => "http://cdn.jsdelivr.net/foundation/5.3.3/css/foundation.min.css", :rel => "stylesheet"}
      %link{:href => "/stylesheet2.css", :rel => "stylesheet", :type => "text/css"}
        %body
          .rise
            //cdn.jsdelivr.net/foundation/5.3.3/css/foundation.css
        
          .homer
            .row
              .small-4.large-4.columns 
                %h3{ :id => "texte"} Aujourd’hui, il y a urgence
              .small-4.large-4.columns
                %h3{ :id => "texte"} Compétition n’est pas raison  
              .small-4.large-4.columns
                %h3{ :id => "texte"} Les communautés se rassemblent
            .row
              .small-4.large-4.columns 
                %p  Si on s’interroge un tant soit peu sur l’étendue des besoins à couvrir par l’homme et pour l’homme pour limiter la casse, il est temps de s’interroger sur la pertinence de l’arrivée de l’homme providentiel, c’est ce que nous avons fait.
              .small-4.large-4.columns
                %p  On avance pas forcément plus vite tout seul, le culte du génie est illusoire, la protection bride la progression, la maitrise du risque n’évite pas le danger, voici des évidences qui freinent nombre d’individus qui voudraient participer à cette urgence en liberté, en collaboration, en création, en construction.
              .small-4.large-4.columns
                %p Bouger les lignes, proposer des alternatives en douceur ou avec violence, avec de la philosophie ou avec des bombes virtuelles ou pas. Ce qui est utile, ce qui relève du bien commun ne se réalise pas seul meurt de toute forme de dictature et s’ancre dans l’altruisme.
            .row
            .row
              .centre.small-9.large-9.large-centered.columns  
                %h3{ :id => "texte"} On est pas des génie, on a des idées, on en a fait un projet et on vous invite à le partager pour faire la même chose que nous avec les autres.
            .row
            
          .toto
            .row.centre
              .small-9.large-9.columns 
                %h1{ :id => "texte-disco"} La force du collectif en action.  
          .molo
            .row
              .small-6.large-6.columns 
                %h3{ :id => "texte"} C’est pas qu’on se sente
              .small-6.large-6.columns
                %h3{ :id => "texte"} C’est pas qu’on est l'impression 
              
            .row
              .small-6.large-6.columns 
                %p  ni considéré, ni écouté, ni entendu, ni soutenu, ni valorisé, ni si seuls contre l’adversité, ni laissés pour compte, ni moutons à tondre, ni sacrifiés à des systèmes obsolètes qui nous mènent tout droit aux conflits et à la guerre, ni embarqués sur le chemin d’exploitation des plus faibles grâce à la rhétorique intellectuelle de l’égalité des chances et à la dilapidation des ressources naturelles mais un peu quand même…
              .small-6.large-6.columns
                %p  qu'ils ne servent pas nos intérêt, qu’ils aient oublié le bien commun, l’intérêt général, l’engagement désintéressé, la vision, les générations futures, l’humilité, la force de l’intelligence collective, la puissance productive des valeurs partagées, l’efficacité de la solidarité pour d’autres objectifs que le pouvoir, la captation de l’argent, la perversion des concepts et leurs conforts personnels mais un peu quand même…
              
            
              %h2{ :class => "centre",:id => "texte"} C’est pas qu’on soit persuadés que ce que l’on va faire ensemble résolve tous ces problèmes mais un peu quand même …
          .koli
            .row.centre
              %h1{ :id => "texte-spark"} Les idées sont créatrices mais ne valent que par leur réalisation.
          .loumo
            
          
            .row.centre
              %h3{:class => "grand",:id => "texte"} Qui peut les réaliser aujourd’hui, pourquoi et comment, on vous laisse y méditer.

              %h3{ :id => "texte"} Notre analyse est sans appel, ouvrons l’espace commun à ceux qui pensent, qui projettent, qui produisent, qui financent, qui investissement et faisons confiance au vecteur commun qui anime chacun de ces acteurs.

              %h1{:class => "plus-grand",:id => "texte"} C’est pas qu’on soit persuadés que ce que l’on va faire ensemble résolve tous ces problèmes mais un peu quand même …
            
        .mone
          .row
            .texte.centre.row.grand
              %h2{ :id => "texte-disco"} #tambouille
            .small-4.columns
              %a.heightfix{:href => "https://twitter.com/LaCuisineCo"}
                %img.heightfix{:height => "90", :src => "Logo_TWITTER.png", :width => "90"}
            .small-4.columns
              %a.heightfix{:href => "https://www.facebook.com/lacuisineco"}
                %img.heightfix{:height => "90", :src => "Logo_FACEBOOK.png", :width => "90"}