<!Doctype HTML>
%meta{:charset => "utf-8"}
  %html
    %title La cuisine
    %link{:href => "http://cdn.jsdelivr.net/foundation/5.3.3/css/foundation.min.css", :rel => "stylesheet"}
      %link{:href => "/stylesheet2.css", :rel => "stylesheet", :type => "text/css"}
        %body
          .rise
            //cdn.jsdelivr.net/foundation/5.3.3/css/foundation.css
            %h1 Coucou les amis
            %h1 Coucou les amis
            %h1 Coucou les amis
            %h1 Coucou

          .homer
            .row
              .small-4.large-4.columns 
                %h3 Aujourd’hui, il y a urgence
              .small-4.large-4.columns
                %h3 Compétition n’est pas raison  
              .small-4.large-4.columns
                %h3 Les communautés se rassemblent
            .row
              .small-4.large-4.columns 
                %p  Si on s’interroge un tant soit peu sur l’étendue des besoins à couvrir par l’homme et pour l’homme pour limiter la casse, il est temps de s’interroger sur la pertinence de l’arrivée de l’homme providentiel, c’est ce que nous avons fait.
              .small-4.large-4.columns
                %p  On avance pas forcément plus vite tout seul, le culte du génie est illusoire, la protection bride la progression, la maitrise du risque n’évite pas le danger, voici des évidences qui freinent nombre d’individus qui voudraient participer à cette urgence en liberté, en collaboration, en création, en construction.
              .small-4.large-4.columns
                %p Bouger les lignes, proposer des alternatives en douceur ou avec violence, avec de la philosophie ou avec des bombes virtuelles ou pas. Ce qui est utile, ce qui relève du bien commun ne se réalise pas seul meurt de toute forme de dictature et s’ancre dans l’altruisme.
            .row
            .row
              .centre.small-9.large-9.large-centered.columns  
                %h3 On est pas des génie, on a des idées, on en a fait un projet et on vous invite à le partager pour faire la même chose que nous avec les autres.
            .row
            .row.centre
              %h1 Les idées sont créatrices mais ne valent que par leur réalisation.
          
            .row
              %h3 Qui peut les réaliser aujourd’hui, pourquoi et comment, on vous laisse y méditer.

              %h3 Notre analyse est sans appel, ouvrons l’espace commun à ceux qui pensent, qui projettent, qui produisent, qui financent, qui investissement et faisons confiance au vecteur commun qui anime chacun de ces acteurs.
            .row
            .texte.centre.row
              %h2 Créer, c’est croire et chacun sa croyance, le tout est que le rêve se réalise car si nombreux y croient c’est qu’il est réaliste !
          .toto
            .row.texte
              .small-12.large-12.columns
                %strong{ :id => "texte"} Hello, World!
                %h3{ :id => "texte"} C’est pas qu’on se sente ni considéré, ni écouté, ni entendu, ni soutenu, ni valoriser, ni si seuls contre l’adversité, ni laissés pour compte, 
              .small-9.large-9.columns
                %h3{ :id => "texte"} ni moutons à tondre, ni sacrifiés à des systèmes obsolètes qui nous mènent tout droit aux conflits et à la guerre, ni embarqués sur le chemin d’exploitation 
              .small-9.large-9.columns
                %h4 des plus faibles grâce à la rhétorique intellectuelle de l’égalité des chances et à la dilapidation des ressources naturelles mais un peu quand même…
              

          